

.titrePage{
  font-family: Calibri, serif;
  color: crimson;
}
.textIndex{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.bodyAdmin{
  text-align: center;
}
body{
  display: flex;
  flex-direction: column;
  margin : 0;
}
#map{
  display: flex;
  justify-content: center;
}
.map{
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
  height: 400px;"
}
.tab th {
  width: 33%;
}
.tab tr,.tab td,.tab th{
  border:  2px solid black;
  text-align: center;
}
.tab{
  width: 100%;
  height: auto;
  text-align: center;
}
.iconArrow{
  width: 50px;
  height: 50px;
}
.iconIndex{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
#allServices{
  /*display: none;*/
}
#introText{
  text-align: center;
  /*display: none;*/
}
.indexButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;

}
.grid-container{
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
}
.grid-item{
  padding: 15px;
  text-align: center;
}

.ligne{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

footer{
  background-color: #333;
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
  bottom: 0;
  position: relative;
  overflow: auto;

}
.divFooter{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.icon{
  display: flex;
  width: 40px;
  height: 30px;
}
.textFooter{
  font-size: medium;
}
.footerElement{
  display: flex;
  color: white;
  flex-direction: column;
  margin-bottom: 20px;
}
.footerElement2{
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 20px;
}

/* Styles de base pour le menu */
nav {
  background-color: #333;
  opacity: 0.75;
  position: relative;
  z-index: 5;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
}

li {
  margin: 0;
}

nav a, footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

/* Styles pour l'en-tête */
.banniere {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Couleur de fond de l'en-tête */
  color: #fff; /* Couleur du texte */
  padding: 10px;
  margin: 0;
}

.logo img {
  max-width: 100px; /* Ajustez la taille du logo selon vos besoins */
}

.login-button button {
  background-color: #ff6600; /* Couleur du bouton de connexion */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.title h1 {
  text-align: center;
}

/* Styles pour les liens au survol */
a:hover {
  background-color: #555;
}


/* Carroussel */
/*.custom-image { display: none; }*/
.custom-image {
  width: 100%;
  max-width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ left: 15px;
  background-color: #999999;
  opacity: 0.75;}
.next { right: 15px;
  background-color: #999999;
  opacity: 0.75; }
.prev:hover, .next:hover {
  background-color: #111111;
}
.slide-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.slide-dot{ text-align: center; }
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#calendar {
  margin: 5%;
  --fc-border-color: black;
}

textarea {
  resize: none;
  width: 80%;
  height: 200px;
}

#external-events {
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 200px;
}

#calendar {
  --fc-bg-event-opacity: 1;
  max-width: 1100px;
  margin: 20px auto;
}
#EventsCalendar{
  display: none;
}

